/* ===== CONTEÚDO PRINCIPAL ===== */
.header h1 {
  font-size: 1.6rem;
  color: #212c56;
}

.header p {
  color: #8b8686;
  margin-top: 5px;
}

.agenda-list {
  list-style: none;
  margin-top: 20px;
  line-height: 2;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
