.addpet-form {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  font-weight: bold;
  color: #212c56;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #212c56;
  box-shadow: 0 0 5px rgba(57, 72, 103, 0.3);
  outline: none;
}

.btn-submit {
  background-color: #212c56;
  color: #fff;
  font-weight: bold;
  margin-top: -10px;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
}

.btn-submit:hover {
  background-color: #212a3e;
}