/* ===== CONTEÚDO PRINCIPAL ===== */
.page-container {
  display: flex;
  height: 100vh;
  background-color: #ffcd779c;
}

.config-form {
  margin-top: 20px;
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 480px;
}

.config-form h3 {
  color: #212c56;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;

}

.form-group input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-save {
  background-color: #394867;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #212a3e;
}
